@utility bs-row {
  --bs-gutter-x: 1rem;
  display: flex;
  flex-wrap: wrap;
  padding-right: var(--bs-gutter-x);
  padding-left: var(--bs-gutter-x);
  @media (width >= 40rem /* 640px */) {
    --bs-gutter-x: 0px
  }
  & > * {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
  }
}

@utility bs-col {
  flex: 1 0 0;
}

@utility bs-col-auto {
  flex: 0 0 auto;
  width: auto;
}

@utility bs-col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

@utility bs-col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

@utility bs-col-3 {
  flex: 0 0 auto;
  width: 25%;
}

@utility bs-col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

@utility bs-col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

@utility bs-col-6 {
  flex: 0 0 auto;
  width: 50%;
}

@utility bs-col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

@utility bs-col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

@utility bs-col-9 {
  flex: 0 0 auto;
  width: 75%;
}

@utility bs-col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

@utility bs-col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

@utility bs-col-12 {
  flex: 0 0 auto;
  width: 100%;
}

@utility bs-order-first {
  order: -1 !important;
}

@utility bs-order-0 {
  order: 0 !important;
}

@utility bs-order-1 {
  order: 1 !important;
}

@utility bs-order-2 {
  order: 2 !important;
}

@utility bs-order-3 {
  order: 3 !important;
}

@utility bs-order-4 {
  order: 4 !important;
}

@utility bs-order-5 {
  order: 5 !important;
}

@utility bs-order-last {
  order: 6 !important;
}

@utility bs-offset-1 {
  margin-left: 8.33333333%;
}

@utility bs-offset-2 {
  margin-left: 16.66666667%;
}

@utility bs-offset-3 {
  margin-left: 25%;
}

@utility bs-offset-4 {
  margin-left: 33.33333333%;
}

@utility bs-offset-5 {
  margin-left: 41.66666667%;
}

@utility bs-offset-6 {
  margin-left: 50%;
}

@utility bs-offset-7 {
  margin-left: 58.33333333%;
}

@utility bs-offset-8 {
  margin-left: 66.66666667%;
}

@utility bs-offset-9 {
  margin-left: 75%;
}

@utility bs-offset-10 {
  margin-left: 83.33333333%;
}

@utility bs-offset-11 {
  margin-left: 91.66666667%;
}