@source "../../views";
@import "tailwindcss";

/* Theme */

/* Base styles */
@import "./base/fonts.css";
@import "./base/typography.css";
@import "./base/grid.css";

/* Utilities */

/* Components */
@import "./components/button.css";
@import "./components/accordion.css";
@import "./components/form.css";
@import "./components/badge.css";

@theme {
  --font-sans: "Zalando Sans", sans-serif;
  --font-serif: "LC Sac Display", serif;

  --leading-normal: 1.45;
  --leading-tight: 1.2;

  --text-heading-1: clamp(48px,3.33vw,64px);
  --text-heading-2: clamp(40px,2.5vw,48px);
  --text-heading-3: clamp(32px,1.875vw,36px);
  --text-heading-4: clamp(24px,1.458vw,28px);
  --text-heading-5: clamp(20px,1.25vw,24px);
  --text-heading-6: clamp(18px,1.04vw,20px);
  --text-display-lg: clamp(4rem,5vw,6rem);

  --color-gray-50: oklch(98.5% 0 0);
  --color-gray-100: oklch(96.7% 0.001 286.4);
  --color-gray-200: oklch(92% 0.004 286.3);
  --color-gray-300: oklch(87.1% 0.005 286.3);
  --color-gray-400: oklch(70.6% 0.014 286);
  --color-gray-500: oklch(55.2% 0.015 285.9);
  --color-gray-600: oklch(44.2% 0.016 285.7);
  --color-gray-700: oklch(37% 0.012 285.8);
  --color-gray-800: oklch(27.4% 0.005 286);
  --color-gray-900: oklch(21% 0.006 285.9);
  --color-gray-950: oklch(11.5% 0 0);

  --radial-x: 50%;
  --radial-y: 50%;

  --header-height: 64px;

  --animate-shimmer: shimmer 2s linear infinite;
  @keyframes shimmer {
    from {
      background-position: -200% 0;
    }

    to {
      background-position: 200% 0;
    }
  }
}

@custom-variant light (.is-light &);

@layer base {
  h1 {
    @apply text-heading-1/tight 
  }
  h2 {
    @apply text-heading-2/tight
  }
  h3 {
    @apply text-heading-3/tight
  }
  h4 {
    @apply text-heading-4/tight
  }
  h5 {
    @apply text-heading-5/tight
  }
  h6 {
    @apply text-heading-6/tight
  }
  html, body {
    scrollbar-width: none; 
    -ms-overflow-style: none;
    scroll-behavior: smooth; 
  }
  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  header {
    &.is-scrolled {
      [data-header-wrapper] {
        @apply py-1.5 pr-1.5 pl-4 bg-white shadow-md;
      }
    }
  }
  .card-grid {
    @apply grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-6 md:gap-y-10;
  }
  /* SVG Logo */
  .horizontal-logo {
    @apply bg-black aspect-1296/328 mask-[url('/uploads/logo-ngang.svg')] mask-contain mask-no-repeat mask-center
  }
  .vertical-logo {
    @apply bg-black aspect-370/267 mask-[url('/uploads/logo-doc.svg')] mask-contain mask-no-repeat mask-center
  }
  .symbol-logo {
    @apply bg-black aspect-240/147 mask-[url('/uploads/logo-symbol.svg')] mask-contain mask-no-repeat mask-center
  }
  /* Eyebrow Text */
  .eyebrow {
    @apply eyebrow-text inline-block pl-16 relative mb-1;
    &::before {
      @apply content-['\0066'] font-['portfolio'] not-italic font-normal text-[56px] leading-6
      absolute left-0 top-0;
    }
  }
  /* Nav Link */
  .nav-link {
    @apply inline-flex items-center gap-2;
    &:hover [data-label] {
      @apply -translate-y-full 
    }
  }
  /* Hover Text */
  .hover-text {
    @apply inline-block overflow-hidden w-full;
    & > span {
      @apply block relative transition-transform duration-300
    }
    & > span::before {
      @apply content-[attr(data-label)] absolute top-full 
    }
  }
  /* Brand Logo */
  .brand-logo {
    @apply aspect-3/2 h-32.5 relative;
    & > .brand-logo-img {
      --logo-image: url('');
      @apply mask-(--logo-image) mask-contain mask-no-repeat mask-center absolute inset-0 opacity-50 hover:opacity-100 transition duration-300;
    }
  }
  /* Tool Logo */
  .tool-logo {
    @apply aspect-square w-40 md:w-49 bg-white flex flex-col justify-center items-center gap-4 rounded-3xl border border-gray-200 mr-6 
    hover:shadow-lg transition-shadow duration-300;
    & > img {
      @apply aspect-120/90 w-[60%];
    }
    & > span {
      @apply label-md;
    }
  }
  /* Social Link */
  .social-link {
    @apply flex items-center;
    & > a {
      @apply bg-gray-100 border border-gray-200 size-16 rounded-[1.25rem] flex items-center justify-center mr-4;
      & > i {
        @apply text-3xl
      }
    }
    & .social-link-handle {
      @apply mt-0.5 text-gray-400
    }
  }
  /* Hover Link */
  .hover-link {
    @apply title-md relative;
    &::before {
      @apply content-[''] absolute w-0 h-0.5 bg-black -bottom-1 transition-all duration-300
    }
    &:hover::before {
      @apply w-full
    }
    &::after {
      @apply content-['\0044'] absolute font-['portfolio'] not-italic font-normal leading-none text-xs
      top-1/2 translate-x-0 -translate-y-1/2 opacity-0 transition-all duration-300;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    &:hover::after {
      @apply translate-x-2 opacity-100
    }
    &.hover-link-light {
      @apply text-white opacity-50 hover:opacity-100 before:bg-white
    }
  }
  /* Polaroid Hero */
  #polaroid-hero {
    @apply flex justify-center py-10 lg:py-16 px-6 sm:px-0 w-max sm:w-full overflow-hidden;
    & > .polaroid-item {
      @apply aspect-583/646 w-35 sm:w-40 md:w-45 lg:w-60 xl:w-70 shrink-0 relative shadow-lg;
      &:not(:first-child) {
        @apply -ml-20 sm:-ml-15 lg:-ml-20;
      }
      &:nth-child(odd) {
        @apply rotate-5 translate-y-3;
      }
      &:nth-child(even) {
        @apply rotate-[-5deg] -translate-y-3;
      }
      &:nth-child(2) {
        @apply -translate-y-4 xl:-translate-y-6;
      }
      &:last-child {
        @apply lg:translate-y-5 xl:translate-y-6;
      }
      & > img {
        @apply absolute w-full h-full top-0 left-0;
        &.polaroid-img {
          @apply px-[5.48%] pt-[7.2%] pb-[23.67%] object-cover;
        }
      }
    }
  }
  /* Journey Item */
  .journey-list {
    & > .journey-list__item {
      @apply bs-row px-0 py-8 border-t border-gray-700 gap-y-4;
      & > .journey-list__title {
        @apply bs-col-12 lg:bs-col-4 xl:bs-col-3 text-white;
      }
      & > .journey-list__body {
        @apply bs-col-12 lg:bs-col-4 text-gray-400;
      }
      & > .journey-list__date {
        @apply bs-col-12 lg:bs-col-2 lg:bs-offset-2 xl:bs-offset-3 flex lg:justify-end bs-order-first lg:bs-order-last text-gray-500;
      }
    }
  }
  /* Cursor Label */
  .cursor-label {
    @apply fixed top-0 left-0 bg-black text-white uppercase font-medium py-2 px-3.5 rounded-full pointer-events-none opacity-0 invisible z-99 will-change-transform
  }
  /* Project Metadata */
  .metadata-list {
    @apply border-b border-gray-200;
    & > .metadata-item {
      @apply flex justify-between items-center py-4 border-t border-gray-200;
      & > .metadata-title {
        @apply uppercase text-gray-500;
      }
      & > .metadata-content {
        @apply title-md font-medium
      }
    }
  }
  /* Carousel Item */
  .carousel-item {
    @apply flex-none basis-auto aspect-4/3 overflow-hidden w-[280px] sm:w-[320px] lg:w-[480px] xl:w-[560px] 2xl:w-[720px] mr-4 sm:mr-5 lg:mr-6 rounded-2xl lg:rounded-3xl;
    & > img {
      @apply w-full h-full object-cover;
    }
  }
  .chat-wrapper {
    & .chat-skeleton-image {
      @apply bg-linear-to-l from-gray-300 via-gray-200 to-gray-300 bg-size-[200%_100%] animate-shimmer;
    }
    & .chat-skeleton-text {
      @apply bg-linear-to-l from-gray-400 via-gray-300 to-gray-400 bg-size-[200%_100%] animate-shimmer bg-clip-text text-transparent;
    }
    & .chat-btn {
      @apply inline-flex justify-center items-center size-8 rounded-full hover:cursor-pointer transition-colors duration-200;
      &.chat-btn-filled {
        @apply bg-black text-white;
      }
      &.chat-btn-tonal {
        @apply bg-gray-200;
      }
      &.chat-btn-ghost {
        @apply hover:bg-black/5
      }
      &.chat-btn-outlined {
        @apply bg-white border border-gray-200 hover:bg-gray-100
      }
    }
  }
  /* Swatch List */
  .swatch-list {
    @apply grid grid-cols-2 md:grid-cols-3 lg:flex gap-4;
    & > .swatch-item {
      @apply flex-1 rounded-2xl lg:rounded-[20px] bg-white border border-gray-200 shadow-md;
      & > .swatch-thumbnail {
        @apply px-2 lg:px-3 pt-2 lg:pt-3;
        & > .swatch-color {
          @apply bg-red-500 aspect-3/2 w-full rounded-lg lg:rounded-xl;
        }
      }
      & > .swatch-body {
        @apply px-4 lg:px-5 py-3 lg:py-4;
        & > .swatch-name {
          @apply body-md lg:body-lg mb-0.5;
        }
        & > .swatch-hex {
          @apply body-xs lg:body-sm text-gray-400;
        }
      }
    }
  }
  /* Style Guide Heading */
  .style-guide-header {
    @apply bg-gray-100 border border-gray-200 p-8 rounded-3xl;
    & > h3 {
      @apply font-medium tracking-tight mb-3;
    }
    & > p {
      @apply text-gray-500
    }
  }
  /* Typeface Item */
  .typeface-item {
    @apply flex-1 bg-white border border-gray-200 rounded-3xl overflow-hidden;
    & > .typeface-heading{
      @apply px-[32px] pt-[24px] pb-[12px];
      & > h5 {
        @apply font-medium mb-2;
      }
      & > p {

      }
    }
    & > .typeface-body {
      @apply px-3 py-3;
      & > .typeface-content {
        @apply bg-gray-100 px-[20px] py-[16px] rounded-[16px];
        & > .typeface-name {
          @apply text-heading-3;
        }
        & > .typeface-sample {
          @apply text-[112px] leading-none;
        }
        & > .typeface-alphabet {
          @apply text-[24px] mt-10 break-all;
        }
      }
    }
  }
  /* Component List */
  .component-list {
    @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6;
    & > .component-item {
      @apply rounded-[20px] bg-white border border-gray-200 shadow-md;
      & > .component-thumbnail {
        @apply px-3 pt-3;
        & > img {
          @apply aspect-3/2 w-full object-cover rounded-xl;
        }
      }
      & > .component-body {
        @apply px-5 py-4;
        & > h4 {
          @apply title-lg font-medium;
        }
      }
    }
  }
}